body {
    margin-top: 24px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #eee;
    font-family: "Armata", serif;
    font-weight: 400;
    font-style: normal;


}

html {
    scroll-behavior: smooth;
}

header {}

:root {
    --main-color: #ffcf23
}


.armata-regular {
    font-family: "Armata", serif;
    font-weight: 400;
    font-style: normal;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    height: 80px;
    padding: 10px;
    border-radius: 10px;

}



.logo {

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font: 'luxerie';
    letter-spacing: 2px;
    margin-left: 10px;

}


.mobile-menu {
    display: none;
    cursor: pointer;
    margin: 12px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

a {
    text-decoration: none;
    color: black;
}


.icon {
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon div {
    display: flex;

    justify-content: center;
    align-items: center;
}

.destinos {
    background: var(--main-color);
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
    margin: 0;
    height: 100px;
}

.destinos h1 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: "Armata", serif;
}

#passeios {
    width: 100%;
    font-family: "Armata", serif;
    padding: 10px;
}


.ofertas img {
    border-radius: 10px;
}

.ofertas h1 {
    font-size: 25px;
}

.ofertascard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    font-size: 15px;
    border-radius: 10px;
    width: auto;
    height: auto
}

h1 {
    padding: 0;
    margin: 0;
}

main {
    height: auto;
}


.card {
    background-color: white;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: auto;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card img {
    width: 400px;
    border-radius: 10px;
}



@media (max-width: 999px) {
    body {
        /* overflow: hidden; */
        overflow-x: hidden;
        background-image: url(./Recursos/img/capamobil.png);
        background-repeat: no-repeat;
        background-size: auto
    }





    .nav-list {
        position: absolute;
        top: 100px;
        right: 0;
        height: 30vh;
        width: 25vh;
        flex-direction: column;
        align-items: end;
        background-color: var(--main-color);
        justify-content: space-around;
        border-radius: 5px;
        /* transform: translateX(140%); */
        display: none;
        justify-content: space-around;
        transition: transform 0.3s ease-in;
        margin: 0;
        padding: 10px;

    }

    .nav-list li {
        padding: 20px;
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        /* transform: translateX(0); */
        display: block;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    nav {
        border-radius: 10px 10px 0 0;
        margin: -30px;
    }

    .icon {
        /* display: grid;
        grid-template-columns: auto auto auto; */
        margin-top: 500px;

        display: flex;
        flex-direction: row;
        margin: 0;
        padding: auto;
        align-items: center;

    }

    .icon img {
        width: 20px;
        height: auto;
    }

    .icon p {
        font-size: 10px;
    }

    .icon div {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .ofertas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 40vh;
    }

    .logo {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .ofertas h1{
        font-family: "Ms Madi", serif;
        border: 1px solid white
    }

    .ofertas h2{
        
        font-family: "Ms Madi", serif;
    }
    
    .ofertas h3{
        font-family: "Ms Madi", serif;
        
    }




}