body {
    margin: 2% 10% auto 10%;
    background-color: #eee;
    font-family: "Armata", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #ffcf23
}


.armata-regular {
    font-family: "Armata", serif;
    font-weight: 400;
    font-style: normal;
}


.navegador {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}


.logo {

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font: 'luxerie';

}


.mobile-menu {
    display: none;
    cursor: pointer;
    margin: 12px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
}

.menu {

    display: flex;

}
.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;

}

li {
    padding-left: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 999px) {

    body{
        overflow-x: hidden;
    }

.nav-list {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: space-around;
        height:60vh;
    }

.nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .menu {
        position: absolute;
        top: 8vh;
        right: 5%;
        width: 50vw;
        height:60vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transform: translatex(100%);

    }

    .mobile-menu{
        display: block;
    }

    
.nav-list.active{
        transform: translateX(0);
    }




}